<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Workplace-Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/styles.css" rel="stylesheet" media="screen" th:href="@{/css/styles.css}"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
  </head>
  <body>
    <h1 th:inline="text">Hallo [[${#httpServletRequest.remoteUser}]], lege eine neue Buchung an!</h1>
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <p th:if="${errorMessage}"  th:text="${errorMessage}">Fehler</p>
    <form action="#" th:action="@{/buchung/buchen}" th:object="${createBuchung}" method="post">
      <p>Arbeitsplatz:
        <select th:field="*{arbeitsplatzId}">
          <option th:each="workplace: ${workplaces}"
                  th:value="${workplace.id}"
                  th:text="${'Raum ' + workplace.raum + ', ' + workplace.tischBezeichnung}">Raum 2, Fenster</option>
        </select>
      </p>
      <p>Datum: <input type="date" th:field="*{datum}" /></p>
      <p><input type="submit" value="Buchung abschicken" /></p>
    </form>
    <div th:replace="fragments/footer :: footer">Hier ist der Footer&nbsp;</div>
  </body>
</html>